{% extends "school/base.html" %}
{% block title %}Password Reset - Email Sent{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Email Sent</h2>
    <div class="alert alert-info" role="alert">
        <p>A message with password reset instructions has been sent to your email.</p>
        <p>If you haven't received the email, please check your "Spam" folder.</p>
    </div>
    <a href="{% url 'login' %}" class="btn btn-primary">Return to Login Page</a>
</div>
{% endblock %}